<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon"
          href="http://localhost:3004/imagenes/github.ico">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The world's leadinf software development platform - Github</title>

    <link link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>

        .modelo-cajas {
            border-color: brown;
            border-style: solid;
            border-width: 10px;
            border-right-width: 0px;
            padding: 10px
        }

        .separador {
            margin-top: 20px;
            margin-bottom: 20px;
        }


        table{
            width: 100%;
        }
        tr {
            border-bottom-style: solid;
            border-bottom-width: 2px;
            border-bottom-color: brown;
            border-bottom: brown solid 2px;
        }



        .menuTop {
            background-color: black;
            color: white;
            font-size: 10px;
            font-weight: 200;
        }

        .fondoUno {
            background-color: lightslategrey;
        }

        .fondoDos {
            background-color: darkslategrey;
            color: white;
        }

        .textLabelFormulario {
            font-size: 10px;
        }

        .formulario {
            background-color: white;
        }






    </style>
</head>

<body class="fondoUno">

<div class="container">
    <div class="row">
        <!-- .col-sm-5*3 -->
        <!-- .col-sm-5*3>h1 -->
        <div class="col-sm-1 menuTop">
            <h6>ICONO</h6>
        </div>
        <div class="col-sm-1 menuTop">
            <h6>Why Github ?</h6>
        </div>
        <div class="col-sm-1 menuTop">
            <h6>Enterprise</h6>
        </div>
        <div class="col-sm-1 menuTop">
            <h6>Explore</h6>
        </div>
        <div class="col-sm-1 menuTop">
            <h6>Marketplace</h6>
        </div>
        <div class="col-sm-1 menuTop">
            <h6>Pricing</h6>
        </div>
        <div class="col-sm-1 menuTop">
            <h6></h6>
        </div>
        <div class="col-sm-1 separador menuTop">
            <h6></h6>
        </div>
        <div class="col-sm-1 separador menuTop">
            <h6></h6>
        </div>
        <div class="col-sm-1 separador menuTop">
            <h6></h6>
        </div>
        <div class="col-sm-1 menuTop">
            <h6>
                <label for="busqueda">Busqueda</label>
                <input id="busqueda" type="text">
            </h6>
        </div>
        <div class="col-sm-1 menuTop">
            <h6>
                <button class="btn btn-dark">Sign up</button>
            </h6>
        </div>
    </div>
</div>

<div class="row separador fondoDos"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-7 fondoDos">
            <div class="column text-center">
                <h3>
                    Built for developers
                </h3>
            </div>
            <div class="column text-center fondoDos">
                <p>GitHub is a development platform inspired by the way
                    you work. From <a href="https://github.com/open-source"
                                      class="text-ghostwhite jumbotron-link">open source
                    </a> to <a href="https://github.com/enterprise"
                               class="text-ghostwhite jumbotron-link"> business
                    </a>, you can host
                    and review code, manage projects, and build software
                    alongside 36 million developers.</p>
            </div>
        </div>


        <div class="col-sm-5 formulario">
            <form action="">
                <div class="column">
                    <div class="column">
                        <h6 class="textLabelFormulario">
                            Username
                        </h6>
                    </div>
                    <div class="column">
                        <label for="username"></label>
                        <input id="username" type="text">
                    </div>
                </div>

                <div class="column">
                    <div class="column">
                        <h6 class="textLabelFormulario">
                            Email
                        </h6>
                    </div>
                    <div class="column">
                        <label for="email"></label>
                        <input id="email" type="email">
                    </div>
                </div>

                <div class="column">
                    <div class="column">
                        <h6 class="textLabelFormulario">
                            Password
                        </h6>
                    </div>
                    <div class="column">
                        <label for="password"></label>
                        <input id="password" type="password">
                    </div>
                </div>

                <div class="column">
                    <h6>
                        Make sure it's at least 15 characters OR at least 80
                        characters including a number and a lowercase letter.
                        <a href="https://help.github.com/en/articles/creating-a-strong-password"
                           class="text-blue jumbotron-link">Lean more.</a>
                    </h6>
                </div>

                <div class="column">
                    <button type="button" class="btn  btn-lg btn-success">Sign up for <Github></Github></button>
                </div>

                <div class="column">
                    <h6>
                        By clicking “Sign up for GitHub”, you agree to our terms of
                        service and privacy statement. We’ll occasionally send
                        you account related emails.
                    </h6>
                </div>

            </form>
        </div>
    </div>
</div>

</body>
</html>
