<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon"
          href="http://localhost:3004/imagenes/steam.ico">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bienvenidos a Steam</title>

    <link link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>

        .fondoIncio {
            background-color: black;
            color: white;
            font-size: small;
        }

    </style>

</head>
<body>

    <div class="row fondoIncio" >
        <div class="row">
            <div class="col-sm-2">
                <h1></h1>
            </div>
            <div class="col-sm-2">
                <h1></h1>
            </div>
            <div class="col-sm-2">
                <h1></h1>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="/imagenes/steam.ico"
                             alt="STEAM-Logo">
                    </div>
                    <div class="col-sm-6">
                        <h4>Instalar Steam</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <h4>iniciar sesión</h4>
            </div>
            <div class="col-sm-2">
                <h4>idioma</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1">
                <h1>Logo</h1>
            </div>
            <div class="col-sm-1">
                <h4>STEAM</h4>
            </div>
            <div class="col-sm-2">
                <h4></h4>
            </div>
            <div class="col-sm-2">
                <h4>TIENDA</h4>
            </div>
            <div class="col-sm-2">
                <h4>COMUNIDAD</h4>
            </div>
            <div class="col-sm-2">
                <h4>ACERCA DE</h4>
            </div>
            <div class="col-sm-2">
                <h4>SOPORTE</h4>
            </div>
        </div>
    </div>

</body>
</html>