<!DOCTYPE html>
<html lang="en">
<head>
    <title>Menu Principal</title>
    <meta charset ="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        .separador {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 320px;
        }
    </style>

</head>

<body>

<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Examen Web GR2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
            <li class="nav-item active" style="padding-right: 60px;">
                <a>
                        <span>
                           <%= nombre%>
                        </span>

                </a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" id="navbarSupportedContent">
            <li id="btn-salir" class="nav-item active">
                <form action="/examen/borrarCookie" method="POST">
                    <button type="submit" class="btn btn-primary"style="background-color: lightblue">Salir</button>
                    </button>
                </form>

            </li>
        </ul>
    </div>


    </nav>
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Examen Web - Kevin Canacuan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse separador" id="navbarSupportedContent" >
        <ul class="navbar-nav mr-auto" >
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                     <span>
                           <%= nombre%>
                     </span>
                </a>
            </li>
        </ul>
    </div>
    <div>
        <form class="form-inline my-2 my-lg-0" action="/examen/borrarCookie" method="POST">
            <button class="btn btn-danger" type="submit">SALIR</button>
        </form>
    </div>
</nav>

<div class="container" align="center">
    <a href="/examen/gestionarTiendas" >
        <button type="submit" class="btn btn-info">GESTIONAR PACIENTES</button>
    </a>
</div>


</body>
</html>