<!--views/login,ejs-->

<!--RUTAS A CREAR-->
<!--/login GET -> Login-->
<!--/login POST -> Login-->
<!--/logout GET -> Logput-->
<!--/protegida GET -> LOGIN!!-->

<form action="/api/login" method="POST">
    <label for="username">Username</label>
    <input id="username" type="text" name="username">

    <label for="passsword">Password</label>
    <input id="passsword" type="password" name="password">

    <button type="submit"> LOGIN </button>
</form>