<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Crear Tienda</title>
    <meta charset ="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        .separador {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 320px;
        }
    </style>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Examen Web - Kevin Canacuan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse separador" id="navbarSupportedContent" >
            <ul class="navbar-nav mr-auto" >
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                             <span>
                                   <%= nombre%>
                             </span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <form class="form-inline my-2 my-lg-0" action="/examen/borrarCookie" method="POST">
                <button class="btn btn-danger" type="submit">SALIR</button>
            </form>
        </div>
    </nav>

<div class="container">
    <div class="mt-5 d-flex justify-content-center">
        <form action="/examen/tienda/crearProducto" method="post">
            <h1>Formulario de Creación de Productos</h1>
            <p>Crea un nuevo producto.</p>

            <form action="/examen/tienda/crearProducto"
                  method="post">
                <label for="numeroId">Numero Producto</label>
                <input id="numeroId" name="numeroProducto" type="number">
                <br>
                <label for="nombreProductoID">Nombre Producto</label>
                <input id="nombreProductoID" name="nombreProducto" type="text">
                <br>
                <label for="descripcionId">Descripcion</label>
                <input id="descripcionId" name="descripcionProducto" type="text">
                <br>
                <label for="precioId">Precio Producto</label>
                <input id="precioId" name="precioProducto" type="number" min="0" max="100" step="0.01">
                <br>
                <label for="fechaLanzId">Fecha de lanzamiento</label>
                <input id="fechaLanzId" name="fechaLanzamientoProducto" type="date">
                <br>
                <label for="amiosGarantiaID">Años Garantia</label>
                <input id="amiosGarantiaID" name="aniosGarantiaProducto" type="number" min="0">
                <br>
                <label for="tiendaID">Id Tienda</label>
                <input id="tiendaID" name="tiendaId" type="number" min="0" value="<%=id%>">
                <br>
                <br>
                <!--<button type="reset">Reset</button>-->
                <!--<button type="submit">Submit</button>-->
                <a href="/examen/tienda/listaProductos">
                    <button type="button">Cancelar</button>
                </a>
                <button>Enviar Informacion</button>
            </form>
        </form>

        <br>
    </div>


    <div class="container">
        <div>
            <form action="/examen/tienda/crearProducto" method="post">
                <h1 align="center">Ingrese los datos de los Medicamentos</h1>

                <form action="/examen/tienda/crearProducto"
                      method="post">

                    <div class="form-group row">
                        <label for="gramosAIngerir" class="col-sm-2 col-form-label">Gramos a ingerir</label>
                        <div class="col-sm-10">
                            <input min="0"
                                   max="100"
                                   step="0.1"
                                   type="number"
                                   class="form-control"
                                   id="gramosAIngerir"
                                   placeholder="Gramos a ingerir">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="nombreMedicamento" class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   id="nombreMedicamento"
                                   placeholder="Nombre del medicamento">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="composicionMedicamento" class="col-sm-2 col-form-label">Composicion</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   id="composicionMedicamento"
                                   placeholder="Composicion del medicamento">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="usadoPara" class="col-sm-2 col-form-label">Usado para</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   id="usadoPara"
                                   placeholder="Proposito del medicamento">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="fechaCaducidadMedicamento" class="col-sm-2 col-form-label">Fecha de caducidad</label>
                        <div class="col-sm-10">
                            <input type="date"
                                   class="form-control"
                                   id="fechaCaducidadMedicamento">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="numeroDePastillas" class="col-sm-2 col-form-label">Numero de Pastillas</label>
                        <div class="col-sm-10">
                            <input type="number"
                                   class="form-control"
                                   id="numeroDePastillas"
                                   placeholder="Numero de pastillas del medicamento">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="pacienteId" class="col-sm-2 col-form-label">Paciente ID</label>
                        <div class="col-sm-10">
                            <input type="number"
                                   class="form-control"
                                   id="pacienteId"
                                   value="<%=id%>"
                                   disabled>
                        </div>
                    </div>

                    <div align="center">
                        <button type="submit" class="btn btn-success">
                            Crear
                        </button>
                        <a href="/examen/tienda/gestionarProductos/<%=id%>">
                            <button type="button" class="btn btn-danger">
                                Cancelar
                            </button>
                        </a>
                    </div>

                </form>
            </form>
        </div>
    </div>


</div>





</body>
</html>